body {
    #root {
        .App {
            .App-header {
                p {
                    font-size: 20px;
                    color: rgb(255, 0, 0);
                    font-weight: bolder;
                }
            }
        }
    }
}
